<div class="container-launches">
  <h1 class="mat-headline-medium title">SpaceX Launch Explorer</h1>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search for a mission...</mat-label>

    <input
      matInput
      type="text"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange($event)"
      placeholder="Ex. Crew-1"
    />

    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  @if (loading$ | async) {
  <p>Loading launches...</p>
  } @if (filteredLaunches$ | async; as launches) { @if (favoriteIds | async; as
  favoriteIds) {
  <div class="launches-grid">
    @for (launch of launches; track launch.id) {
    <mat-card class="launch-card">
      <mat-card-header>
        @if (launch.patchUrl) {
        <img mat-card-avatar [src]="launch.patchUrl" [alt]="launch.name" />
        }

        <mat-card-title> {{ launch.name }} </mat-card-title>

        <mat-card-subtitle>
          Flight n°{{ launch.flightNumber }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="card-content">
        <p class="date-text">
          <mat-icon>calendar_today</mat-icon>
          {{ launch.dateLocal | date: 'dd/MM/yyyy' }}
        </p>
      </mat-card-content>

      <mat-card-actions class="card-actions">
        <mat-chip-set>
          <mat-chip
            [class.status-success]="launch.success === true"
            [class.status-error]="launch.success === false"
          >
            @if (launch.success === true) { Success } @else if (launch.success
            === false) { Failure } @else { Unknown }
          </mat-chip>
        </mat-chip-set>

        <button
          mat-icon-button
          type="button"
          [attr.aria-label]="
                  favoriteIds.includes(launch.id)
                    ? 'Remove from favorites'
                    : 'Add to favorites'
                "
          (click)="toggleFavorite(launch.id)"
        >
          <mat-icon>
            {{ favoriteIds.includes(launch.id) ? 'favorite' : 'favorite_border'
            }}
          </mat-icon>
        </button>

        <a mat-button [routerLink]="['/launch', launch.id]">
          View details
          <mat-icon>arrow_forward</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
    }
  </div>
  } }
</div>
