<div class="container-launches">
  <h1 class="mat-headline-medium title">SpaceX Launch Explorer</h1>


  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search for a mission...</mat-label>
    <input 
      matInput
      type="text" 
      [(ngModel)]="searchTerm" 
      (ngModelChange)="onSearchChange()" 
      placeholder="Ex. Crew-1"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="launches-grid">
    <mat-card *ngFor="let launch of filteredLaunches" class="launch-card">
      <mat-card-header>
        <img mat-card-avatar [src]="launch.links?.mission_patch_small" alt="Mission's patch">
        <mat-card-title>{{ launch.mission_name }}</mat-card-title>
        <mat-card-subtitle>Flight n°{{ launch.flight_number }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="card-content">
        <p class="date-text">
          <mat-icon>calendar_today</mat-icon>
          {{ launch.launch_date_local | date:'dd/MM/yyyy' }}
        </p>
      </mat-card-content>

      <mat-card-actions class="card-actions">
        <mat-chip-set>
          <mat-chip [class.status-success]="launch.success" [class.status-error]="!launch.success">
            {{ launch.success ? 'Success' : 'Failure' }}
          </mat-chip>
        </mat-chip-set>
      </mat-card-actions>
    </mat-card>
  </div>
</div>